{
    "presets": [
      ["@babel/preset-env", {
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
        }
      }],
    //   "@babel/preset-stage-0",
    //   "@babel/preset-stage-2"
    ],
    "plugins": [
        // Stage 0
        ["@babel/plugin-transform-modules-commonjs", {
            "allowTopLevelThis": true
        }],
        "transform-export-extensions",
        "@babel/plugin-proposal-function-bind",
        // Stage 2
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        "@babel/plugin-proposal-function-sent",
        "@babel/plugin-proposal-export-namespace-from",
        "@babel/plugin-proposal-numeric-separator",
        "@babel/plugin-proposal-throw-expressions"
    ]
  }
  